In [1]:
import numpy as np

In [2]:
print("chandan")

chandan

In [3]:
import pandas as pd

In [6]:
df=pd.read_csv('team_stats.csv')

In [7]:
print(df.head)

<bound method NDFrame.head of               team  players_used  avg_age  possession  games  games_starts  \
0        Argentina            21     28.7        65.0      4            44
1        Australia            20     28.7        37.8      4            44
2          Belgium            20     30.6        57.0      3            33
3           Brazil            26     28.4        57.8      4            44
4         Cameroon            22     28.0        41.7      3            33
5           Canada            19     28.2        52.0      3            33
6       Costa Rica            22     30.6        31.3      3            33
7          Croatia            18     29.4        55.0      4            44
8          Denmark            20     27.5        60.0      3            33
9          Ecuador            18     25.7        53.3      3            33
10         England            20     27.0        64.3      4            44
11          France            24     27.2        57.8      4            44
12         Germany            20     28.1        59.3      3            33
13           Ghana            20     26.4        42.0      3            33
14            Iran            21     29.3        36.7      3            33
15           Japan            22     28.8        35.8      4            44
16  Korea Republic            21     29.0        48.3      4            44
17          Mexico            21     29.0        54.0      3            33
18         Morocco            21     27.3        33.8      4            44
19     Netherlands            19     27.6        53.3      4            44
20          Poland            21     28.6        37.3      4            44
21        Portugal            24     27.9        57.3      4            44
22           Qatar            20     29.0        43.0      3            33
23    Saudi Arabia            23     28.1        44.7      3            33
24         Senegal            20     27.7        44.8      4            44
25          Serbia            22     27.4        51.3      3            33
26           Spain            21     26.3        75.8      4            44
27     Switzerland            24     28.4        49.0      4            44
28         Tunisia            21     27.7        44.3      3            33
29   United States            20     25.3        53.0      4            44
30         Uruguay            19     28.5        48.7      3            33
31           Wales            18     27.7        46.7      3            33

    minutes  minutes_90s  goals  assists  ...  goals_assists_pens_per90    xg  \
0       360          4.0      7        5  ...                      2.75   7.6
1       360          4.0      3        3  ...                      1.50   2.3
2       270          3.0      1        1  ...                      0.67   4.7
3       360          4.0      7        5  ...                      2.75   9.4
4       270          3.0      4        4  ...                      2.67   3.4
5       270          3.0      1        1  ...                      0.67   4.2
6       270          3.0      3        1  ...                      1.33   1.4
7       390          4.3      5        5  ...                      2.31   5.2
8       270          3.0      1        1  ...                      0.67   2.7
9       270          3.0      4        2  ...                      1.67   3.7
10      360          4.0     12       11  ...                      5.75   6.3
11      360          4.0      9        9  ...                      4.50   8.6
12      270          3.0      6        5  ...                      3.33  10.1
13      270          3.0      5        2  ...                      2.33   4.1
14      270          3.0      4        2  ...                      1.67   3.2
15      390          4.3      5        4  ...                      2.08   5.0
16      360          4.0      5        3  ...                      2.00   4.6
17      270          3.0      2        1  ...                      1.00   3.3
18      390          4.3      4        3  ...                      1.62   3.1
19      360          4.0      8        6  ...                      3.50   4.0
20      360          4.0      3        1  ...                      0.75   4.5
21      360          4.0     12       10  ...                      5.00   6.9
22      270          3.0      1        1  ...                      0.67   1.4
23      270          3.0      3        2  ...                      1.67   3.0
24      360          4.0      5        2  ...                      1.50   4.6
25      270          3.0      5        4  ...                      3.00   3.4
26      390          4.3      9        5  ...                      3.00   6.2
27      360          4.0      5        4  ...                      2.25   5.6
28      270          3.0      1        1  ...                      0.67   2.3
29      360          4.0      3        3  ...                      1.50   4.1
30      270          3.0      2        1  ...                      1.00   3.7
31      270          3.0      1        0  ...                      0.00   2.7

    npxg  xg_assist  npxg_xg_assist  xg_per90  xg_assist_per90  \
0    6.2        4.3            10.5      1.90             1.07
1    2.3        1.9             4.2      0.58             0.48
2    4.7        3.8             8.5      1.57             1.27
3    8.7        6.5            15.2      2.36             1.63
4    3.4        2.0             5.4      1.14             0.66
5    3.6        2.8             6.4      1.41             0.95
6    1.4        0.6             2.0      0.48             0.20
7    5.2        4.0             9.3      1.20             0.93
8    2.7        1.8             4.5      0.90             0.59
9    2.9        1.8             4.7      1.24             0.60
10   6.3        5.0            11.3      1.57             1.25
11   8.6        7.5            16.0      2.14             1.87
12   9.3        7.5            16.8      3.35             2.50
13   3.4        1.7             5.1      1.38             0.57
14   2.8        2.4             5.2      1.07             0.81
15   5.0        3.5             8.5      1.15             0.81
16   4.6        3.3             7.9      1.14             0.83
17   3.3        2.7             6.0      1.09             0.90
18   3.1        2.6             5.7      0.71             0.60
19   4.0        2.5             6.6      1.01             0.63
20   2.9        1.8             4.7      1.14             0.44
21   5.3        4.4             9.7      1.72             1.09
22   1.4        1.2             2.6      0.47             0.39
23   2.1        1.4             3.5      0.99             0.47
24   3.8        2.5             6.2      1.14             0.61
25   3.4        2.9             6.2      1.12             0.95
26   5.4        4.0             9.4      1.42             0.92
27   5.6        3.6             9.2      1.41             0.89
28   2.3        1.9             4.2      0.77             0.64
29   4.1        3.5             7.6      1.01             0.87
30   3.7        2.8             6.4      1.23             0.92
31   1.9        1.8             3.7      0.91             0.59

    xg_xg_assist_per90  npxg_per90  npxg_xg_assist_per90
0                 2.97        1.55                  2.62
1                 1.06        0.58                  1.06
2                 2.85        1.57                  2.85
3                 3.99        2.17                  3.79
4                 1.80        1.14                  1.80
5                 2.35        1.18                  2.13
6                 0.68        0.48                  0.68
7                 2.14        1.20                  2.14
8                 1.49        0.90                  1.49
9                 1.84        0.98                  1.58
10                2.82        1.57                  2.82
11                4.01        2.14                  4.01
12                5.85        3.09                  5.59
13                1.95        1.13                  1.70
14                1.88        0.94                  1.75
15                1.96        1.15                  1.96
16                1.98        1.14                  1.98
17                1.99        1.09                  1.99
18                1.31        0.71                  1.31
19                1.64        1.01                  1.64
20                1.58        0.74                  1.18
21                2.81        1.33                  2.42
22                0.87        0.47                  0.87
23                1.47        0.71                  1.18
24                1.75        0.94                  1.55
25                2.07        1.12                  2.07
26                2.34        1.24                  2.16
27                2.30        1.41                  2.30
28                1.41        0.77                  1.41
29                1.89        1.01                  1.89
30                2.15        1.23                  2.15
31                1.49        0.65                  1.23

[32 rows x 29 columns]>

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   team                      32 non-null     object
 1   players_used              32 non-null     int64
 2   avg_age                   32 non-null     float64
 3   possession                32 non-null     float64
 4   games                     32 non-null     int64
 5   games_starts              32 non-null     int64
 6   minutes                   32 non-null     int64
 7   minutes_90s               32 non-null     float64
 8   goals                     32 non-null     int64
 9   assists                   32 non-null     int64
 10  goals_pens                32 non-null     int64
 11  pens_made                 32 non-null     int64
 12  pens_att                  32 non-null     int64
 13  cards_yellow              32 non-null     int64
 14  cards_red                 32 non-null     int64
 15  goals_per90               32 non-null     float64
 16  assists_per90             32 non-null     float64
 17  goals_assists_per90       32 non-null     float64
 18  goals_pens_per90          32 non-null     float64
 19  goals_assists_pens_per90  32 non-null     float64
 20  xg                        32 non-null     float64
 21  npxg                      32 non-null     float64
 22  xg_assist                 32 non-null     float64
 23  npxg_xg_assist            32 non-null     float64
 24  xg_per90                  32 non-null     float64
 25  xg_assist_per90           32 non-null     float64
 26  xg_xg_assist_per90        32 non-null     float64
 27  npxg_per90                32 non-null     float64
 28  npxg_xg_assist_per90      32 non-null     float64
dtypes: float64(17), int64(11), object(1)
memory usage: 7.4+ KB

In [9]:
df.isna().sum()

team                        0
players_used                0
avg_age                     0
possession                  0
games                       0
games_starts                0
minutes                     0
minutes_90s                 0
goals                       0
assists                     0
goals_pens                  0
pens_made                   0
pens_att                    0
cards_yellow                0
cards_red                   0
goals_per90                 0
assists_per90               0
goals_assists_per90         0
goals_pens_per90            0
goals_assists_pens_per90    0
xg                          0
npxg                        0
xg_assist                   0
npxg_xg_assist              0
xg_per90                    0
xg_assist_per90             0
xg_xg_assist_per90          0
npxg_per90                  0
npxg_xg_assist_per90        0
dtype: int64

In [12]:
df['players_used'].value_counts()

20    9
21    8
22    4
19    3
18    3
24    3
26    1
23    1
Name: players_used, dtype: int64

In [13]:
i = len(df.columns)

In [14]:
print(i)

29

In [25]:
rows = len(df.axes[0])

In [26]:
print(rows)

32

In [27]:
y = df['team'].values
y.shape

(32,)

In [30]:
df['players_used'].value_counts().idxmax()

20

In [31]:
df['players_used'].value_counts().idxmin()

26

In [33]:
df['players_used'].value_counts().idxmax()

20

In [37]:
df._get_value(8, 'players_used')

20

In [41]:
df[["team", "avg_age"]]

              team  avg_age
0        Argentina     28.7
1        Australia     28.7
2          Belgium     30.6
3           Brazil     28.4
4         Cameroon     28.0
5           Canada     28.2
6       Costa Rica     30.6
7          Croatia     29.4
8          Denmark     27.5
9          Ecuador     25.7
10         England     27.0
11          France     27.2
12         Germany     28.1
13           Ghana     26.4
14            Iran     29.3
15           Japan     28.8
16  Korea Republic     29.0
17          Mexico     29.0
18         Morocco     27.3
19     Netherlands     27.6
20          Poland     28.6
21        Portugal     27.9
22           Qatar     29.0
23    Saudi Arabia     28.1
24         Senegal     27.7
25          Serbia     27.4
26           Spain     26.3
27     Switzerland     28.4
28         Tunisia     27.7
29   United States     25.3
30         Uruguay     28.5
31           Wales     27.7

In [54]:
df.loc[[10, 11]]

,team,players_used,avg_age,possession,games,games_starts,minutes,minutes_90s,goals,assists,...,goals_assists_pens_per90,xg,npxg,xg_assist,npxg_xg_assist,xg_per90,xg_assist_per90,xg_xg_assist_per90,npxg_per90,npxg_xg_assist_per90
10,England,20,27.0,64.3,4,44,360,4.0,12,11,...,5.75,6.3,6.3,5.0,11.3,1.57,1.25,2.82,1.57,2.82
11,France,24,27.2,57.8,4,44,360,4.0,9,9,...,4.50,8.6,8.6,7.5,16.0,2.14,1.87,4.01,2.14,4.01

In [55]:
dfs = df.T

In [56]:
dfs.head

<bound method NDFrame.head of                                  0          1        2       3         4   \
team                      Argentina  Australia  Belgium  Brazil  Cameroon
players_used                     21         20       20      26        22
avg_age                        28.7       28.7     30.6    28.4      28.0
possession                     65.0       37.8     57.0    57.8      41.7
games                             4          4        3       4         3
games_starts                     44         44       33      44        33
minutes                         360        360      270     360       270
minutes_90s                     4.0        4.0      3.0     4.0       3.0
goals                             7          3        1       7         4
assists                           5          3        1       5         4
goals_pens                        6          3        1       6         4
pens_made                         1          0        0       1         0
pens_att                          2          0        0       1         0
cards_yellow                      2          7        5       3         8
cards_red                         0          0        0       0         1
goals_per90                    1.75       0.75     0.33    1.75      1.33
assists_per90                  1.25       0.75     0.33    1.25      1.33
goals_assists_per90             3.0        1.5     0.67     3.0      2.67
goals_pens_per90                1.5       0.75     0.33     1.5      1.33
goals_assists_pens_per90       2.75        1.5     0.67    2.75      2.67
xg                              7.6        2.3      4.7     9.4       3.4
npxg                            6.2        2.3      4.7     8.7       3.4
xg_assist                       4.3        1.9      3.8     6.5       2.0
npxg_xg_assist                 10.5        4.2      8.5    15.2       5.4
xg_per90                        1.9       0.58     1.57    2.36      1.14
xg_assist_per90                1.07       0.48     1.27    1.63      0.66
xg_xg_assist_per90             2.97       1.06     2.85    3.99       1.8
npxg_per90                     1.55       0.58     1.57    2.17      1.14
npxg_xg_assist_per90           2.62       1.06     2.85    3.79       1.8

                              5           6        7        8        9   ...  \
team                      Canada  Costa Rica  Croatia  Denmark  Ecuador  ...
players_used                  19          22       18       20       18  ...
avg_age                     28.2        30.6     29.4     27.5     25.7  ...
possession                  52.0        31.3     55.0     60.0     53.3  ...
games                          3           3        4        3        3  ...
games_starts                  33          33       44       33       33  ...
minutes                      270         270      390      270      270  ...
minutes_90s                  3.0         3.0      4.3      3.0      3.0  ...
goals                          1           3        5        1        4  ...
assists                        1           1        5        1        2  ...
goals_pens                     1           3        5        1        3  ...
pens_made                      0           0        0        0        1  ...
pens_att                       1           0        0        0        1  ...
cards_yellow                   8           6        4        5        3  ...
cards_red                      0           0        0        0        0  ...
goals_per90                 0.33         1.0     1.15     0.33     1.33  ...
assists_per90               0.33        0.33     1.15     0.33     0.67  ...
goals_assists_per90         0.67        1.33     2.31     0.67      2.0  ...
goals_pens_per90            0.33         1.0     1.15     0.33      1.0  ...
goals_assists_pens_per90    0.67        1.33     2.31     0.67     1.67  ...
xg                           4.2         1.4      5.2      2.7      3.7  ...
npxg                         3.6         1.4      5.2      2.7      2.9  ...
xg_assist                    2.8         0.6      4.0      1.8      1.8  ...
npxg_xg_assist               6.4         2.0      9.3      4.5      4.7  ...
xg_per90                    1.41        0.48      1.2      0.9     1.24  ...
xg_assist_per90             0.95         0.2     0.93     0.59      0.6  ...
xg_xg_assist_per90          2.35        0.68     2.14     1.49     1.84  ...
npxg_per90                  1.18        0.48      1.2      0.9     0.98  ...
npxg_xg_assist_per90        2.13        0.68     2.14     1.49     1.58  ...

                             22            23       24      25     26  \
team                      Qatar  Saudi Arabia  Senegal  Serbia  Spain
players_used                 20            23       20      22     21
avg_age                    29.0          28.1     27.7    27.4   26.3
possession                 43.0          44.7     44.8    51.3   75.8
games                         3             3        4       3      4
games_starts                 33            33       44      33     44
minutes                     270           270      360     270    390
minutes_90s                 3.0           3.0      4.0     3.0    4.3
goals                         1             3        5       5      9
assists                       1             2        2       4      5
goals_pens                    1             3        4       5      8
pens_made                     0             0        1       0      1
pens_att                      0             1        1       0      1
cards_yellow                  7            14        7      11      2
cards_red                     0             0        0       0      0
goals_per90                0.33           1.0     1.25    1.67   2.08
assists_per90              0.33          0.67      0.5    1.33   1.15
goals_assists_per90        0.67          1.67     1.75     3.0   3.23
goals_pens_per90           0.33           1.0      1.0    1.67   1.85
goals_assists_pens_per90   0.67          1.67      1.5     3.0    3.0
xg                          1.4           3.0      4.6     3.4    6.2
npxg                        1.4           2.1      3.8     3.4    5.4
xg_assist                   1.2           1.4      2.5     2.9    4.0
npxg_xg_assist              2.6           3.5      6.2     6.2    9.4
xg_per90                   0.47          0.99     1.14    1.12   1.42
xg_assist_per90            0.39          0.47     0.61    0.95   0.92
xg_xg_assist_per90         0.87          1.47     1.75    2.07   2.34
npxg_per90                 0.47          0.71     0.94    1.12   1.24
npxg_xg_assist_per90       0.87          1.18     1.55    2.07   2.16

                                   27       28             29       30     31
team                      Switzerland  Tunisia  United States  Uruguay  Wales
players_used                       24       21             20       19     18
avg_age                          28.4     27.7           25.3     28.5   27.7
possession                       49.0     44.3           53.0     48.7   46.7
games                               4        3              4        3      3
games_starts                       44       33             44       33     33
minutes                           360      270            360      270    270
minutes_90s                       4.0      3.0            4.0      3.0    3.0
goals                               5        1              3        2      1
assists                             4        1              3        1      0
goals_pens                          5        1              3        2      0
pens_made                           0        0              0        0      1
pens_att                            0        0              0        0      1
cards_yellow                        9        5              5        8      5
cards_red                           0        0              0        0      1
goals_per90                      1.25     0.33           0.75     0.67   0.33
assists_per90                     1.0     0.33           0.75     0.33    0.0
goals_assists_per90              2.25     0.67            1.5      1.0   0.33
goals_pens_per90                 1.25     0.33           0.75     0.67    0.0
goals_assists_pens_per90         2.25     0.67            1.5      1.0    0.0
xg                                5.6      2.3            4.1      3.7    2.7
npxg                              5.6      2.3            4.1      3.7    1.9
xg_assist                         3.6      1.9            3.5      2.8    1.8
npxg_xg_assist                    9.2      4.2            7.6      6.4    3.7
xg_per90                         1.41     0.77           1.01     1.23   0.91
xg_assist_per90                  0.89     0.64           0.87     0.92   0.59
xg_xg_assist_per90                2.3     1.41           1.89     2.15   1.49
npxg_per90                       1.41     0.77           1.01     1.23   0.65
npxg_xg_assist_per90              2.3     1.41           1.89     2.15   1.23

[29 rows x 32 columns]>